body {
  padding: 0;
  margin: 0;
  background: white;
}

h1 {
  color: #1076bc;
  size: 13rem;
}

h2 {
  background: #1076bc;
  display: block;
  margin: 0;
  padding: 1em 0;
  color: white;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

section {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
